input{
    height: 25px;
    text-align: center;
}
#conversioncontainer{
    text-align: center;
    border: 1px solid;
    width: 600px;
    display: grid;
    justify-content: center;
    margin-left: 25%;
    margin-top: 100px;
    padding: 10px;
}
#innerconversioncontainer{
    display: flex;
    justify-content: space-between;
    width: auto;
}
#left{
    border: 1px solid;
}
#right{
    border: 1px solid;
}
#lefttemparatures{
    display: block;
    height: 30px;
    width: 100%;
    background-color: #e5e6e1;
}
#righttemparatures{
    display: block;
    height: 30px;
    width: 100%;
    background-color: #e5e6e1;
}
#formula{
    text-align: left;
}
.formcolor{
    font-size: large;
}
